{% extends 'base.html.twig' %}


{% block body %}
    <div id="wrapper">

        <h1 class="ui header">Listado</h1>

        <p>
            <button class="ui button" onclick="javascript:location.href='/crud/user/add';">Nuevo Usuario</button>
	    </p>


        <div ng-controller="UserController as User">
            <table datatable="" dt-options="User.dtOptions" dt-columns="User.dtColumns" class="ui selectable celled table"></table>
        </div>



    </div>
{% endblock %}


{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/angular.min.js') }}"></script>
    <script src="{{ asset('js/angular-datatables.min.js') }}"></script>
    <script src="{{ asset('js/list.js') }}"></script>
    <script>
        $(".paginate_button").toggleClass('ui button');
    </script>
{% endblock %}
